<h1 class="container bg-dark text-white text-center my-4 py-4">[ngClass]</h1>

<div class="container">

    <button class="btn btn-dark mb-3 mr-3" (click)="ativo='primeiro'">Primeiro</button>
    <button class="btn btn-danger mb-3 mr-3" (click)="ativo='segundo'">Segundo</button>

    <p class="text-info d-none" [ngClass]="{'d-block':ativo=='primeiro'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta repellat in, harum nesciunt temporibus natus voluptas saepe cumque odit aspernatur minus dolores mollitia at ratione sed nulla, repudiandae quaerat facere!</p>
    <p class="text-danger d-none" [ngClass]="{'d-block':ativo=='segundo'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aperiam ex, necessitatibus eveniet deserunt voluptatibus doloremque repellat dolorum dicta qui quos quo asperiores deleniti eos consequatur itaque, ut assumenda esse.</p>
    
</div>

